<!DOCTYPE html>
<html><head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 	  <!--Need this tag for Responsive content to work-->
  <meta name="viewport" content="width=device-width,initial-scale=1">
    
	  <title>Boston Games LLC</title>
  <meta name="author" content="Allyn">
  <meta name="description" content="Video Games and Stuff">
  <meta name="keywords" content="video games,new video games,games,pc games,game development, stickers">
	  
	  

<link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png?v=ngJA68d0yN">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png?v=ngJA68d0yN">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png?v=ngJA68d0yN">
<link rel="manifest" href="images/favicon/site.webmanifest?v=ngJA68d0yN">
<link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg?v=ngJA68d0yN" color="#ff2f00">
<link rel="shortcut icon" href="images/favicon/favicon.ico?v=ngJA68d0yN">
<meta name="apple-mobile-web-app-title" content="Boston Games">
<meta name="application-name" content="Boston Games">
<meta name="msapplication-TileColor" content="#603cba">
<meta name="theme-color" content="#ffffff">
	  
	 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:wght@600|Lato:400,900&display=swap" type="text/css">
  <link rel="stylesheet" href="/home.css">

		
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-151576253-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-151576253-1');
</script>
	


  </head>
	

	  
  
	  <header>
		  
		  <div class="forMobile mobileHeader">
			   <div class="mobileLogo">
			  <a href="index.html"><img src="images/BOS_TONgames-1.png" alt="Boston Games LLC Logo"></a>
			  </div>
		  </div>
		  
	  </header>
	
	  
	  
	  <main>
		  <!------------------------------DESKTOP ONLY MAIN CONTENT--------------------------------------->
		  
<div class="forDesktop centerContent tempMssg">Site undergoing updates. Check back later and keep up with us here: 
		  
		<br><br>
	<div class="socials "><nav class="style-nav">
		  	<ul>
				
				<li>
				<!--TWITTER LINK-->
						<a href="https://twitter.com/bostongamesllc" target="_blank" rel="noopener noreferrer"><img src="/images/blvck_twitter.png" alt="Twitter Logo Link" width="35px" height="35"></a>				</li>
				<li>
				<!--FACEBOOK LINK-->
						<a href="https://www.facebook.com/bostongames/" target="_blank" rel="noopener noreferrer"><img src="/images/blvck_fb.png" alt="Linkedin Logo Link" width="35px" height="35"></a>
				</li>  
				
				<li>
				<!--INSTAGRAM LINK-->
						<a href="https://www.instagram.com/bostongames/" target="_blank" rel="noopener noreferrer"><img src="/images/blvck_insta.png" alt="Instagram Logo Link" width="35px" height="35"></a>
				</li>
				
				<li>
				<!--LINKEDIN LINK-->
						<a href="https://www.linkedin.com/company/40821181" target="_blank" rel="noopener noreferrer"><img src="/images/blvck_linkedin.png" alt="Linkedin Logo Link" width="35px" height="35"></a>
				</li>
				 
			</ul>
			  </nav></div>  
	  
		  
		  
		  
</div> 
		  	<!------------------------------MOBILE ONLY MAIN CONTENT--------------------------------------->	  


		  
<div class="forMobile row">
		<div class="gamesTitle"></div> 
</div>		
		  
<div class="forMobile row">
	<div class="tableContainer">
			
		<div class="column-forIcon">
			  <a href="rocketSeal5000.html">				  
				  <div class="mobileLayer universalIconButtonProperties mobileIconButton1 "></div></a>  
	
	<h3>Rocket Seal 5000</h3>
	</div>
	

	<div class="column-forIcon">
			  <a href="gWagonLauncher.html">				  
				  <div class="mobileIconButton0 mobileLayer universalIconButtonProperties"></div></a>	
		
	<h3>G-Wagon Launcher</h3>
					  				  
	</div>
			  

			
	<div class="column-forIcon">
			  <a href="spiritForest.html">				  
				  <div class="universalIconButtonProperties mobileIconButton2 mobileLayer"></div></a>  
	
	<h3>Spirit Forest</h3>
	</div>
		
		  
		</div>
</div>

<div class="forMobile row">			  
			 

	<div class="box0">
					<center><br>
				  <h1>Welcome</h1><br>
	<h3>Check out some new games under development, snag some swag in our store, or read about new indie games to check out!<br><br>
		100% of profits from our merch are used to develop new games.
<br><br>
		-Boston Games</h3></center>
	
	
<!--CLOUDS--------------------------------------------------------------------------------------->
			<div class="clouds upperLimage"><img src="images/1UL-Front-green.png" alt="Clouds"></div>
			
			<div class="clouds upperRimage"><img src="images/1UR-Front-green.png" alt="Clouds"></div>
			
			<div class="clouds lowerLimage"><img src="images/1LL-Front-green.png" alt="Clouds"></div>
			
			<div class="clouds lowerRimage"><img src="images/1LR-Front-green.png" alt="Clouds"></div>
		
			
		
			<div class="clouds backupperLimage"><img src="images/1UL-Back-green.png" alt="Clouds"></div>
			
			<div class="clouds backupperRimage"><img src="images/1UR-Back-green.png" alt="Clouds"></div>
			
			<div class="clouds backlowerLimage"><img src="images/1LL-Back-green.png" alt="Clouds"></div>
			
			<div class="clouds backlowerRimage"><img src="images/1LR-Back-green.png" alt="Clouds"></div>
	
	
<!--/CLOUDS--------------------------------------------------------------------------------------->	
	</div>
					
				 
				 

			
</div>
		  
<div class="forMobile row">
		<div class="column-50-50">
			<a href="https://bostongames.net/merch/"><div class="universalIconButtonProperties mobileIconButton3"></div></a>
			<h3>Merch</h3></div>	  
		 <div class="column-50-50">
			 <a href="https://bostongames.net/merch/game-blog"><div class="universalIconButtonProperties mobileIconButton4"></div></a>
			 <h3>Blog</h3></div> 
</div>		  
		  
		  
		  <div class="forMobile socials"><nav class="style-nav">
		  	<ul>
				
				<li>
				<!--TWITTER LINK-->
						<a href="https://twitter.com/bostongamesllc" target="_blank" rel="noopener noreferrer"><img src="/images/blvck_twitter.png" alt="Twitter Logo Link" width="35px" height="35"></a>				</li>
				<li>
				<!--FACEBOOK LINK-->
						<a href="https://www.facebook.com/bostongames/" target="_blank" rel="noopener noreferrer"><img src="/images/blvck_fb.png" alt="Linkedin Logo Link" width="35px" height="35"></a>
				</li>  
				
				<li>
				<!--INSTAGRAM LINK-->
						<a href="https://www.instagram.com/bostongames/" target="_blank" rel="noopener noreferrer"><img src="/images/blvck_insta.png" alt="Instagram Logo Link" width="35px" height="35"></a>
				</li>
				
				<li>
				<!--LINKEDIN LINK-->
						<a href="https://www.linkedin.com/company/40821181" target="_blank" rel="noopener noreferrer"><img src="/images/blvck_linkedin.png" alt="Linkedin Logo Link" width="35px" height="35"></a>
				</li>
				 
			</ul>
			  </nav></div>

		  <!--so socials dont sink into footer-->
<div class="forMobile"><center><h3>&copy 2020 Boston Games LLC. All rights reserved.</h3></center>
						<br><br><br><br><br><br></div>
		 

	  </main>


	  
	  
	  <!--------------------------MOBILE BACKGROUND FIXED IMAGES---------------------------------------------->
	
  
	<div class="forMobile mobileUpperBG"><img src="/images/cloudBG2.png" alt="upper left bg image"></div>
	<div class="forMobile mobileLowerBG"><img src="/images/cloudBG2.png" alt="upper left bg image"></div>

			
	<div class="forMobile footer1"><img src="/images/cityscape_footer0.png" alt="boston skyline image"></div>
	<div class="forMobile footer2"></div>			
			
	
<!--------------------------------------------MOBILE CONTENT END------------------------------------------>	
	  
  
  </body>

	  <footer>
	      <div class="forDesktop footer">
		  	<p id="copyright1">&copy 2020 Boston Games LLC. All rights reserved.</p>
		  </div>
		  
			  
		  

		  </footer>

	  
	
</html>
